---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - project
    - projects
permalink: /categories/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "{{ tag }}"
---

<h1>{{ tag }}</h1>

{% set projectslist = collections[ tag ] %}
{% include "components/projectslist.njk" %}

<nav>
  <a href="{{ '/portfolio/' | url }}">← All Projects</a>
</nav>
