:root {
	--text: #222222;
	--primary: #0071ce;
	--secondary: #d7a461;
	--light: #bbbbbb;
	--background: white;
	--serif: freight-text-pro, serif;
	--sans: sofia-pro, sans-serif;
	--mono: courier-prime, monospace;
	--logo: factoria, serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--serif);
	color: var(--text);
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}

header, main, footer, .banner {
	display: grid;
	grid-template-columns: 
		minmax(.75em,1fr)
		repeat(12,minmax(.3em,1.5em))
		minmax(.75em,1fr)
		;
	grid-column-gap: 3%;
}

.logo, nav, .content, small, form, .projects-list, .posts-list {
	grid-column: 2 / span 12;
}

.banner-image {
	grid-column: 1 / span 14;
	max-height: 15em;
	object-fit: cover;
	object-position: center;
	overflow: hidden;
	margin: 1em 0;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
	font-family: var(--sans);
	font-weight: 700;
}

a[href]:not(:hover) {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--sans);
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em 0;
}

.banner {
	background-position: center center;
	background-size: cover;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

time {
	font-family: var(--mono);
	color: var(--light);
}

.logo img {
	max-width: 3em;
	float: left;
	margin-top: 1em;
	margin-right: 1em;
}

/* Header Logo (style as h2) */
header em {
	display: block;
	font-size: 1em;
	margin: 1.33em 0;
	font-family: var(--logo);
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 1.2;
	max-width: 13em;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 1em;
}

header nav li a {
	padding-bottom: .1em;
	font-family: var(--sans);
	font-weight: 700;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	text-decoration: underline !important;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

main img {
	padding: 1em 0;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
}

input,
textarea {
	border: 1px solid var(--light);
}

button {
	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
	cursor: pointer;
}

button:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

footer {
	background: var(--primary);
	color: var(--light);
}

footer a[href], footer a[href]:visited {
	color: var(--background);
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.2rem;
	}

	.projects-list {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-column-gap: 1.5em;
	}
}
