<footer>
  <small>
    A starter site by <a href="https://derekhamm.com">Derek Hamm</a>. Find it on <a href="{{ pkg.repository.url }}">GitHub</a>. Based on <a href="https://github.com/danurbanowicz/eleventy-netlify-boilerplate">Eleventy Netlify Boilerplate</a>.
  </small>
</footer>
