<section class="projects-list">
	{% for project in projectslist | reverse %}
		<article {% if project.url == url %} data-current="current item"{% endif %}>
			<img src="{{ project.data.thumbnail }}" />
			<h3>
				<a href="{{ project.url | url }}">
					{% if project.data.title %}
						{{ project.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if project.data.summary %}
				<p>
					{{ project.data.summary }}
				</p>
			{% endif %}
			{% if project.data.tags %}
				<p>
					{% for tag in project.data.tags %}
		  			{%- if tag != "project" -%}
		  				{% set tagUrl %}/categories/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
