<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			{% include "components/logo.njk" %}
			{% include "components/nav.njk" %}
		</header>

		{% include "components/banner.njk" %}

		<main>
			<div class="content">
			{{ layoutContent | safe }}
			</div>
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
